.pcard{
    width: 320px;
    height: 300px;
    padding: 20px;
    margin: 20px;
    display: inline-block;
    background-color: #353535;
}
.pcard .pcategory{
    border-radius: 10px;
    padding: 0 10px;
    margin: 15px 0;
    display: inline-block;
}
.pcard .title{
    font-size: 2em;
    line-height: 1.3em;
    font-weight: bold;
    background-color: transparent;
}
.pcard .desc{
    background-color: transparent;
    margin: 10px 0;
}
.pcard .date{
    background-color: transparent;
    border: 0.5px solid #B19DEE;
    background-color: rgba(177, 157, 238, 0.2);
    border-radius: 10px;
    padding: 5px 10px;
    display: inline-block;
}
.pcard:hover{
    background-color: black;
    transition: 0.3s;

}

/* detail====== */
.pdetail{
    margin: 70px;
}

.pdetail .content{
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px 20px;
    border-radius: 10px;
}
.pdetail .title{
    font-weight: bold;
    font-size: 2em;
    line-height: 2em;
}
.pdetail .box{
    margin: 50px 0;
}
.pdetail .name{
    font-weight: bold;
    width: 150px;
}

.pdetail .image{
    width: 350px;
    margin: 10px;
}

.pdetail .simage{
    width: 40px;
    margin: 10px;
}
.pdetail .category{
    border-radius: 10px;
    padding: 0 10px;
    margin: 10px 10px 0 0;
    display: inline-block;
}
.pdetail .conclusion .content{
    white-space: pre-line;
}