*{
  background-color: black;
  color: white;
  line-height: 25px;
  font-size: 14px;
}
.App{
  width: 1250px;
  margin: 0 auto;
  border: 1px solid white;
}
/* header========================================================== */
.header{
  padding: 20px;
}
.logo{

}
.r-navbar{
  
}
.l-navbar{
}

/* body========================================================== */
.body{
height: auto;
min-height: 100%;
padding-bottom: 150px;
}
/* footer========================================================== */
.footer{
  padding: 20px;
  height: 150px;
  position : relative;
}

.f-pink-50{color: #7E0A54;}
.f-pink-100{color: #420A2D;}
.f-green-50{color: #00F0FF;}
.f-green-100{color: #007B83;}
.f-yellow-50{color: #FFC156;}
.f-yellow-100{color: #160D00;}
.f-purple-50{color: #B19DEE;}
.f-purple-100{color: #663AEB;}
.f-black-30{color: #B3B3B3;}