*{
  background-color: black;
  color: white;
  line-height: 25px;
  font-size: 14px;
}
.App{
  width: 1250px;
  margin: 0 auto;
}
/* header========================================================== */
.header{
  padding: 20px;
}
.logo{
  text-align: center;
}
.navbar{
  text-align: right;
}
.navbar .menu{
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
}
.navbar .menu:hover{
  background-color: rgb(65, 65, 65);
  transition: 0.2s;
}

/* body========================================================== */
.body{
height: auto;
min-height: 100%;
padding-bottom: 150px;
}
.m-title{
  font-size: 5em;
  line-height: 2em;
  margin: 0 20px;
  background-color: transparent;
}
.m-desc{
  background-color: transparent;
  margin: 0 20px;
}
/* footer========================================================== */
.footer{
  padding: 20px;
  height: 150px;
  position : relative;
}

.f-pink-50{color: #7E0A54;}
.f-pink-100{color: #420A2D;}
.f-green-50{color: #00F0FF;}
.f-green-100{color: #007B83;}
.f-yellow-50{color: #FFC156;}
.f-yellow-100{color: #160D00;}
.f-purple-50{color: #B19DEE;}
.f-purple-100{color: #663AEB;}
.f-black-30{color: #B3B3B3;}

.f-pink-linear{
  background: linear-gradient(to right, #420A2D, #7E0A54);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.5px white;
}
.f-green-linear{
  background: linear-gradient(to right, #007B83, #00F0FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.5px white;
}
.f-purple-linear{
  background: linear-gradient(to right, #663AEB, #B19DEE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.5px white;
}
.f-yellow-linear{
  background: linear-gradient(to right, #160D00, #FFC156);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.5px white;
}