.home-article{
  margin: 20px 130px;
  height: 150px;
}

.count .content{
  width: 300px;
}
.count .count-title{
  display: inline-block;
  width: 70px;
  padding: 5px;
}
.count .data{
  display: inline-block;
  padding: 5px;
  font-size: 1.3em;
  font-weight: bold;
}

.skill .content{
  display: inline-block;
  margin-top: 40px;
  margin-right: 20px;
}
.skill .skill-title{
  border: 0.5px solid #B19DEE;
  background-color: rgba(177, 157, 238, 0.2);
  border-radius: 10px;
  padding: 5px 10px;
  display: inline-block;
}
.skill .image{
  display: inline-block;
  margin: 5px;
  line-height: 70px;
}


/* =========================== */
.home .title{
  width: 800px;
  border-top: 3px solid #663AEB;
  border-bottom: 3px solid #663AEB;
  margin: 0 10%;
  padding: 50px 0px;
}

.home button{
  border: none;
  background-color: #663AEB;
  display: block;
  padding: 0 5px;
  margin: 10px 0;
  height: 50px;
  text-align: left;
}
.home span{
  display: none;
}
.home .show{
  display: block;
  background-color: #B19DEE;
  width: 200px;
  padding: 5px 20px;
  margin: 10px 0px;
  transition: 0.3s ease-in-out;
}
.home .showText{
  display: block;
  color: black;
  transition: 0.5s ease-in-out;
  background: transparent;
}