/* header========================================================== */
.header{
    padding: 20px;
}
.logo{

}
.navbar{
}

/* body========================================================== */
.body{
  height: auto;
  min-height: 100%;
  padding-bottom: 150px;
}
/* footer========================================================== */
.footer{
    padding: 20px;
    height: 150px;
    position : relative;
}